* {
  color: var(--clr-neon-white);
  box-sizing: border-box;
  text-decoration: none;
}

.ComboBox {
  font-size: 0.6rem;
  width: 20em;
  position: relative;
}

.select {
  width: 100%;
  box-shadow: inset 0 0 0.1em 0 var(--clr-inActive),
    0 0 0.1em 0 var(--clr-inActive);
  border: var(--clr-inActive) 0.125em solid;
  border-radius: 0.25em;
  transition: box-shadow 250ms linear, border 250ms linear;
  cursor:pointer;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:0.5em;
  position:relative;
  z-index:2;
  background-color: var(--clr-background);
}

.select:hover,
.select.active{
    box-shadow: inset 0 0 0.8em 0 var(--clr-neon-white),
    0 0 0.8em 0 var(--clr-neon-white);
  border: var(--clr-neon-white) 0.125em solid;
}

.select.active::before{
     content:'';
    display:block;
    position: absolute;

    border-top:0.4em solid var(--clr-neon-white);
    border-right:0.4em  solid var(--clr-neon-white);
    border-bottom:0.4em  solid transparent;
    border-left:0.4em  solid transparent;
    border-radius: 0.1em;
    transform: rotate(135deg);
    bottom:-0.4em;
    left:calc(50% - 0.4em);
}
.title{
    font-size:1.4em
}

