.container {
  width: 60%;
  margin: 0 auto;
}
.empleados {
  display: flex;
  width: 90%;
}
.marcas {
  width: 10%;
  height: 100%;
  padding-top:35px;
}
.marcas>p+p{
  margin-top: 8px;
}
.container > .empleados > div + div {
  /* border-left: 2px var(--clr-dark-blue) solid; */
  margin-left: 8px;
}

@media (max-width: 580px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .empleados{
    width: 85%;
  }
  .marcas{
    width: 15%;
    padding-top:20px;
  }
}
