
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --clr-neon-blue: #0375eb;
  --clr-neon-cyan:#b5d5f6;
  --clr-neon-red:#fa1a52;
  --clr-neon-white: #dadada/*efefef*/;
  --clr-inActive: #737373; /*#c6c6c6;*/
  --clr-neon-placeholder: #cacaca;
  --clr-neon-invalid:#cc3b3b;
  --clr-red-inActive : #6b152a;
  --clr-background:#14141b;
  --clr-background-calendario:#50505e;
  --clr-footer:#060609;
  --clr-navbar:#060609;
  --clr-neon-green:#06c10f;

}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:var(--clr-navbar);
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--clr-neon-blue);
    text-align: center;
    padding: 0.8em;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111; 
    color: var(--clr-neon-blue);
    box-shadow: 0 0 0.6em 0 var(--clr-neon-blue);
    border: 0.08em solid var(--clr-neon-blue);
    border-radius: 0.8em;
    padding: 0.8em;
}

.active {
    background-color:var(--clr-neon-blue);
    border-radius: 0.8em;
    color: var(--clr-navbar);
    box-shadow: 0 0 0.6em 0 var(--clr-neon-blue);
}
