.container {
  padding: 1.4em;
  display: grid;
  grid-template-columns: 210px auto;
  grid-column-gap: 20px;
  position: relative;
  overflow: hidden;
}
.cajaContainer {
  color: var(--clr-neon-white);
  padding: 1em;
  border: 1px var(--clr-neon-cyan) solid;
  border-radius: 10px;
  box-shadow: inset 0 0 0.2em 0 var(--clr-neon-cyan),
    0 0 0.2em 0 var(--clr-neon-cyan), inset 0 0 0em 0 var(--clr-neon-blue),
    0 0 0em 0 var(--clr-neon-blue), inset 0 0 0.8em 0 var(--clr-neon-blue),
    0 0 0.8em 0 var(--clr-neon-blue), inset 0 0 0em 0 var(--clr-neon-blue),
    0 0 0em 0 var(--clr-neon-blue);
  transition: border 170ms linear, box-shadow 190ms linear;
}
.cajaContainer:hover {
  border: 1px var(--clr-neon-white) solid;
  box-shadow: inset 0 0 0.2em 0 var(--clr-neon-cyan),
    0 0 0.2em 0 var(--clr-neon-cyan), inset 0 0 0.4em 0 var(--clr-neon-blue),
    0 0 0.4em 0 var(--clr-neon-blue), inset 0 0 0.8em 0 var(--clr-neon-blue),
    0 0 0.8em 0 var(--clr-neon-blue), inset 0 0 0.9em 0 var(--clr-neon-blue),
    0 0 0.9em 0 var(--clr-neon-blue);
}
.actions,
.abrirCerrar {
  display: flex;
}
.abrirCerrar {
  position: relative;
  align-items: center;
}

.abrirCerrar > label,
.abrirCerrar > div {
  margin-right: 10px;
}

.actions {
  flex-direction: column;
  text-align: center;
  height: 530px;
  width: max-content;
}
.actions > button {
  margin: 0 auto;
}
.actions > button + button {
  margin-top: 0.7em;
}

.caja {
  margin-left: 1.3em;
  display: grid;
  grid-template-rows: 66px auto;
  grid-row-gap: 20px;
}

.Cerrar {
  position: absolute;
  right: 20px;
}
.comboAgenda{
  height: 60px;
}
.agenda > .dobleFild + div,
.agenda > div + .dobleFild{
  margin-bottom: 20px;
}

.dobleFild {
    display: flex;
}
.dobleFild > div{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
  
}
.dobleFild > div > label{
  margin-right:10px;
}

.agendaProductos{
    display:grid;
    grid-template-columns: 49% 49%;
    grid-column-gap:2%;
}
.entrada {
  /* background-color: brown; */
}

.productos{
  display: grid;
  grid-template-rows: 30px auto;
}

.productos > div{
  height: 100%;
  display: grid;
  grid-template-columns: 45% 10% 45%;
}
.productos> div>div{
  background-color: darkslategray;
}
.productos> div>div+div{
  background-color: grey;
}
.productos> div>div+div+div{
  background-color: darkslategray;
}
