.alinear{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container>div{
    padding: 25px;
    border-radius: 25px;
}

.container,.container>div{
    width: min-content;
    margin:0;
}
.container>div > p{
    margin-top: 15px;
    color: var(--clr-inActive);
    transition: color 180ms linear;
}

.container>div:hover > p{
    color: var(--clr-neon-white);
}

.container>div > button{
    margin-top: 20px;
}
.container >div >div{
    display: grid;
    grid-template-columns: max-content 224px;
    align-items: center;
    grid-column-gap:15px;
    grid-row-gap: 18px;
}

.container >div > div > label{
    color:var(--clr-inActive);
    text-align: right;
    transition: color 180ms linear;
}
.container >div:hover > div > label{
    color:var(--clr-neon-white);
}