.title {
  color: var(--clr-neon-white);
  margin-bottom: 0em;
}

.label>label {
  color: var(--clr-neon-white);
  font-size: 1.45em;
}

/* .labelPlace{
  padding-right: 0.9em;
  text-align: right;
} */
.time {
  text-align: left;
  width: 100%;
  color: var(--clr-neon-white);
}
.opciones {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap:10px;
  grid-row-gap:12px
}
.label {
  align-items: center;
  display: flex;
  justify-self: end;
}
.opciones table {
  width: 100%;
}
/* @media (max-width:480px){
  .opciones > div {
    width: 40%;
  }
  .opciones table{
    width: 20%;
  }
} */
